In [ ]:
import spacy
nlp = spacy.load('en_core_web_sm')

In [ ]:
# write a function to display basic entity info:
def show_ents(doc):
  if doc.ents:
    for ent in doc.ents:
      print(ent.text+' - '+ent.label_+' - '+str(spacy.explain(ent.label_)))
  else:
    print('No named entities found.')

In [ ]:
doc=nlp(u'May i go to washington,dc next May to see the washington monument?')
show_ents(doc)

washington - GPE - Countries, cities, states
next May - DATE - Absolute or relative dates or periods
washington - GPE - Countries, cities, states

In [ ]:
doc=nlp(u'can i please borrow 500 dollars from you to buy some microsoft stock?')

In [ ]:
for ent in doc.ents:
  print(ent.text, ent.start, ent.end, ent.start_char, ent.end_char, ent.label_)

500 dollars 4 6 20 31 MONEY

In [ ]:
doc=nlp(u'Tesla to go build a U.K. factory for $6 million')
show_ents(doc)

U.K. - GPE - Countries, cities, states
$6 million - MONEY - Monetary values, including unit

In [ ]:
from spacy.tokens import Span
# Get the hash value of the ORG entity labbel
ORG = nlp.vocab.strings[u'ORG']
# Create a Span for the new entity
new_ent=Span(doc, 0 ,1, label=ORG)
# Add the entity to the existing Doc object
doc.ents = list(doc.ents) + [new_ent]

In [ ]:
show_ents(doc)

Tesla - ORG - Companies, agencies, institutions, etc.
U.K. - GPE - Countries, cities, states
$6 million - MONEY - Monetary values, including unit

In [ ]:
doc=nlp(u'Our company plants to introduce a new vacuum cleaner.'
       u'If successful, the vacuum cleaner will be our first product.')
show_ents(doc)

first - ORDINAL - "first", "second", etc.

In [ ]:
# import Phrasematcher and create a matcherobject:
from spacy.matcher import PhraseMatcher
matcher=PhraseMatcher(nlp.vocab)

In [ ]:
# create the desired phrase patterns:
phrase_list=['vacuum cleaner', 'vacuum-cleaner']
phrase_patterns=[nlp(text) for text in phrase_list]

In [ ]:
# Apply the pattern to our matcher object:
matcher.add('newproduct', None, *phrase_patterns)
# apply the matcher to our Doc object:
matches=matcher(doc)
matches

[(2689272359382549672, 7, 9), (2689272359382549672, 14, 16)]

In [ ]:
import spacy
nlp = spacy.load('en_core_web_sm')

In [ ]:
from spacy import displacy

doc=nlp(u'Over the last quarter Apple sold nearly 20 thousand iPods for a profit of $6 million.')
u'By contrast, Sony only sold 7 thousand Walkman music players.'
displacy.render(doc, style='ent', jupyter=True)

In [ ]:
for sent in doc.sents:
  displacy.render(nlp(sent.text), style='ent', jupyter=True)